html {
  scroll-behavior: smooth;
}

body {
  background-color: #e9cdcd;
  font-family: "Ubuntu";
}

.loginscreen--container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 1000px;
  max-width: 100%;
  min-height: 600px;
  margin: auto;
  top: 20vh;
}

.form-container {
  position: absolute;
  height: 100%;
}

.log-in-container {
  left: 0;
  width: 50%;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.forgot--password {
  border: none;
  background-color: transparent;
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}

.log--in {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  margin: 10px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.overlay {
  background: #a86868;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
}

.sign--up {
  border-radius: 20px;
  border: 1px solid white;
  background-color: transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.error {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 1em red;
}

.success {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 1em green;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.nav--container {
  font-family: "Montserrat";
}

.navbar {
  background-color: #4e1530;
}

.navbar-brand-aria {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 4rem;
  margin-right: 5vw;
}

.nav-item {
  margin-right: 5vw;
  font-family: inherit;
  cursor: pointer;
}

.navbar-toggler-icon {
  color: "white";
}

.nav-link {
  font-size: 2rem;
}

.nav-link:hover {
  color: white;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
  border-radius: 40px;
}

.slideshowDots {
  text-align: center;
  padding: 20px;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #4e1530;
}
